{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General ERP</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 
</head>
<body>
    
        <div class="container">
            <form action="" method="POST">{% csrf_token %}
                <h1>Login</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <div class="inputbox" >
                    <input type="text" name="username" id="" placeholder="Username" required>
                    <i class='bx bxs-user usr'></i>
                </div>
                <div class="inputbox" >
                    <input type="password" name="password" id="" placeholder="Password" required>
                    <i class='bx bxs-lock-alt pswd'></i>
                </div>
               
                <div class="remember">
                    <label for="">
                        <input type="checkbox">Remember Me
                    </label>
                    <a href="">Forget Password</a>
                </div>
                <button type="submit" class="bnt">Login</button>
               
            </form>
        </div>


       
</body>
</html>